.window_boundingBox {
	width: 500px;
	height: 300px;
	position: fixed;
	z-index: 5;
	border: 1px solid #357ebd;
	box-shadow: 0 0 12px rgba(0,0,0,.5);
	background-color: #fff;
}
.window_header {
	height: 38px;
	line-height: 38px;
	background-color: #428bca;
	color: #fff;
	text-align: center;
	font-size: 16px;
}
.window_body {
	padding: 10px;
}
.window_footer {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.winodw_closeBtn {
	display: block;
	height: 38px;
	line-height: 38px;
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	cursor: pointer;
	padding: 0px 10px;
	font-size: 20px;
	background-color: #428bca;
}
.window_alertBtn,
.window_confirmBtn,
.window_promptBtn,
.window_cancelBtn {
	width: 60px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	background: #428bca;
	color: #fff;
	outline: none;
}
.window_cancelBtn {
	background: #fff;
	color: #333;
	border: 1px solid #ccc;
}
.window_promptInputWrapper {
	margin: 5px 0;
	text-align: center;
}
.window_promptInput {
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 30px;
	line-height: 30px;
	outline: none;
	text-indent: 5px;
}
.window_cancelBtn {
	margin-left: 16px;
}
.window_mask {
	position: fixed;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	background-color: #000;
	opacity: 0.3;
}

/*skin for a*/
.window_skin_a.window_boundingBox {

}
.window_skin_a .window_alertBtn {
	
}
.window_skin_a .window_header {
	
}
.window_skin_a .winodw_closeBtn {
	
}
